# -------------------------
# Node / React (Vite)
# -------------------------
node_modules/
ui/app/node_modules/
ui/app/dist/                 # build output
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------
# Terraform
# -------------------------
# Local state
tf-ui-s3cf/.terraform/
tf-ui-s3cf/.terraform.lock.hcl
tf-ui-s3cf/*.tfstate
tf-ui-s3cf/*.tfstate.*
tf-ui-s3cf/crash.log
tf-ui-s3cf/crash.*.log

# Sensitive vars (keep example tfvars)
tf-ui-s3cf/*.tfvars
tf-ui-s3cf/*.tfvars.json
!tf-ui-s3cf/*.example.tfvars

# -------------------------
# Jenkins / CI
# -------------------------
# Jenkins workspace is usually outside repo, but ignore if created
workspace/

# Archives
*.zip

# -------------------------
# OS / Misc
# -------------------------
.DS_Store
Thumbs.db
Desktop.ini
